@import '../variables';

html {
  background-color: $main-bgc !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body {
  height: 100vh;
  background-color: $main-bgc;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  .second-container {
    display: flex;

    .side-bar-wrapper {
      flex: 0 0 200px;

      .side-bar {
        height: 100%;
        justify-content: flex-start;
      }
    }

    .al-main {
      display: flex;
      flex: 1;
      padding: 7vh 0 10px 0;
      min-height: 100vh;
      position: relative;
      background-color: $main-bgc;
    }
  }
}
