@import "../../variables";

hr {
  margin: 0 0 0 10px;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.sidebar {
  background-color: $sideBarBgColor;
  position: fixed;
  height: 100vh;
  margin-right: 5px;
  z-index: 1000;

  .nav-container {
    padding: 20px 0;
    overflow-y: auto;
    height: calc(100% - #{$header-height});

    .sub-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 2em;
    }
  }

}

nav {
  margin-bottom: 0;
}

nav li {
  width: 100%;
  padding: 5px 0 5px 0;
}

nav li a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

nav.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 3px;
  margin-left: 40px;
}

.navbar-nav > li {
  text-align: start;
  border-left: 6px solid #FFFFFF;
}

.col-md-12 {
  padding-right: 0;
}

.navbar {
  min-height: 0;
  border-radius: 0%;
  padding: 0;
}

:host {
  height: 100%;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: auto;
  z-index: 10;
}

.active {
  border-left: 6px solid $blue !important;
}

.fa-bars {
  color: #FFFFFF;
  font-size: 1.5rem;
}

// Media styles: Mobile
@media screen and (max-width: 767px) {
  .mobile {
    display: none !important;
  }
  .sidebar {
    width: 100%;
    background-color: $blue;
    position: relative;
    height: auto;
    margin-right: 0;
    .nav-container {
      height: auto;
    }
  }
  nav li a {
    color: #FFFFFF;
  }

  .active {
    border-left: 6px solid #000 !important;
  }
}
